# Pandas II
* DataFrame 조작
* 인덱스 조작
* merge
* Groupby
* 시계열

In [1]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 3, 4, 3, 4],
    'B': [2, 3, 1, 2, 3],
    'C': [1, 5, 2, 4, 4]
})
df

   A  B  C
0  1  2  1
1  3  3  5
2  4  1  2
3  3  2  4
4  4  3  4

# 1. DataFrame 조작

## 1.1 Update

In [2]:
df["A"]+df["B"]-df["C"]
df

   A  B  C
0  1  2  1
1  3  3  5
2  4  1  2
3  3  2  4
4  4  3  4

In [3]:
df["D"] = df["A"]+df["B"]-df["C"]
df

   A  B  C  D
0  1  2  1  2
1  3  3  5  1
2  4  1  2  3
3  3  2  4  1
4  4  3  4  3

In [16]:
import numpy as np

df**2 # 모든 원소에 제곱
# 모든 원소에 sin(x)
np.sin(df)


# 각 행의 합을 구해서 그 값의 sin(x)를 구하고 싶다. 
vec = list()

for item in df.values:
  vec.append(np.sin(sum(item)))
# vec.append(np.sin(sum(df.loc[0,:])))
# vec.append(np.sin(sum(df.loc[1,:])))
# vec.append(np.sin(sum(df.loc[2,:])))
# vec.append(np.sin(sum(df.loc[3,:])))
# vec.append(np.sin(sum(df.loc[4,:])))

vec

[-0.27941549819892586,
 -0.5365729180004349,
 -0.5440211108893698,
 -0.5440211108893698,
 0.9906073556948704]

In [27]:
# df 에 대해서 apply를 이용해서 행별로 합을 구해서 그 값의 sin(x)를 구하시오.
def mysumsin(x):
  s=sum(x)
  return s

display(df)
df.apply(mysumsin,axis=1)

   A  B  C  D  range
0  1  2  1  2      1
1  3  3  5  1      4
2  4  1  2  3      3
3  3  2  4  1      3
4  4  3  4  3      1

A        15
B        11
C        16
D        10
range    12
dtype: int64

In [28]:
#df에 대해서 apply를 이용해서 행별로 합을 구해서 그 값의 sin(x)를 구하시오 
#함수를 만드는 방법1 (명시적)
def mysumsin(x):
  return np.sin(sum(x))

#함수를 만드는 방법2 (lambda(익명)으로 함수 만드는 방법)
mysumsin2 = lambda x: np.sin(sum(x))

mysumsin2([1,2,3])

#display(df)
#df.apply(mysumsin,axis=1)

# 함수를 만드는 방법3 (함수를 만들고 변수에 대입하지 않고 바로 함수의 인자로 넣어도됨)
df.apply(lambda x : np.sin(sum(x)), axis = 1)

0    0.656987
1   -0.287903
2    0.420167
3    0.420167
4    0.650288
dtype: float64

In [41]:
def stdev(x):
  mu = np.mean(x)
  n = len(x)
  ss = sum((x-mu)**2)
  std =np.sqrt(ss / (n-1))
  return std

df['std']= df.loc[:,'A':'D'].apply(stdev, axis=1)
df['std2'] = np.std(df.loc[:,'A':'D'],ddof=1, axis=1)
df

   A  B  C  D  range       std      std2
0  1  2  1  2      1  0.577350  0.577350
1  3  3  5  1      4  1.632993  1.632993
2  4  1  2  3      3  1.290994  1.290994
3  3  2  4  1      3  1.290994  1.290994
4  4  3  4  3      1  0.577350  0.577350


## 1.2 Apply

In [42]:
def myfun(arg):
    return np.average(arg)

In [43]:
#변수 같이 함수를 만드는 방법: 익명함수
fun = lambda arg: np.average(arg)

In [44]:
df.apply(lambda arg: np.average(arg), axis=0)

A        3.000000
B        2.200000
C        3.200000
D        2.000000
range    2.400000
std      1.073937
std2     1.073937
dtype: float64

In [45]:
# range 구하기
df['range'] = df.apply(lambda x: max(x) - min(x), axis=1) #  axis=0이면 행을 기준으로, axis=1이면 열이 기준이 됨
df

   A  B  C  D    range       std      std2
0  1  2  1  2  1.42265  0.577350  0.577350
1  3  3  5  1  4.00000  1.632993  1.632993
2  4  1  2  3  3.00000  1.290994  1.290994
3  3  2  4  1  3.00000  1.290994  1.290994
4  4  3  4  3  3.42265  0.577350  0.577350

In [46]:
pd.value_counts([1,2,3,3,3])

3    3
1    1
2    1
dtype: int64

In [48]:
# 빈도수 구하기

df = pd.DataFrame({
    'A': [1, 3, 4, 3, 4],
    'B': [2, 3, 1, 2, 3],
    'C': [1, 5, 2, 4, 4]
})
display(df)
df.apply(pd.value_counts, axis=0)

   A  B  C
0  1  2  1
1  3  3  5
2  4  1  2
3  3  2  4
4  4  3  4

     A    B    C
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

In [69]:
# 빈도수 구하기
df.apply(pd.value_counts, axis=0)

     A    B    C
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

In [70]:
#참고: pd.value_counts를 알아보기
pd.value_counts(df['A'])

3    2
4    2
1    1
Name: A, dtype: int64

In [71]:
#adult/child 레이블링하기
import seaborn as sns
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
titanic = sns.load_dataset('titanic')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [72]:
# 과제 : Apply를 이용하여 titanic['age']컬럼에서 20세 이상이면 "adult" 아니면 child 를 만드는 컬럼을 작성해 보시오
titanic['age_adult_child'] = titanic['age'].apply(lambda x: 'adult' 
                                               if x >= 20 else 'child')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_adult_child
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,adult
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,adult
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,adult
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,adult
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,adult
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,child
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,child
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,adult
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,adult

In [67]:
# Apply를 이용하여 titanic['age']컬럼에서 20세 이상이면 "adult" 아니면 child 를 만드는 컬럼을 작성해 보시오


# titanic['adult'] = titanic['age'] >= 20.0
# titanic['child'] = titanic['age'] < 20.0
# titanic



# for i in titanic:
#   titanic['adult'] = apply.titanic['age'] >= 20.0
# else : 
#   titanic['child'] = apply.titanic['age'] < 20.0

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_category,age_adult_child,adult,child
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,adult,adult,True,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,adult,adult,True,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,adult,adult,True,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,adult,adult,True,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,adult,adult,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,adult,adult,True,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,child,child,False,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,child,child,False,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,adult,adult,True,False
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,adult,adult,True,False

## 1.3 fillna

In [73]:
df.apply(pd.value_counts)

     A    B    C
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

In [74]:
df.apply(pd.value_counts).fillna(0)

     A    B    C
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

## 1.4 astype

In [75]:
df.apply(pd.value_counts).fillna(0).astype(int)

   A  B  C
1  1  1  1
2  0  2  1
3  2  2  0
4  2  0  2
5  0  0  1

# 2. 인덱스 조작

In [82]:
import numpy as np
df1 = pd.DataFrame(np.vstack([list('ABCDE'),
                              np.round(np.random.rand(3, 5), 2)]).T,
                   columns=["C1", "C2", "C3", "C4"])
# 더럽다!!!
idx = df1['C1']=='A'
df1[idx]

# 지저분하다
df1
df1.index = df1['C1']
df1.loc['A']

C1       A
C2    0.65
C3    0.75
C4    0.88
Name: A, dtype: object

In [83]:
import numpy as np
df1 = pd.DataFrame(np.vstack([list('ABCDE'),
                              np.round(np.random.rand(3, 5), 2)]).T,
                   columns=["C1", "C2", "C3", "C4"])
df1

  C1    C2    C3    C4
0  A  0.28  0.79  0.01
1  B  0.19  0.99  0.03
2  C  0.63  0.01   0.5
3  D  0.34   0.3  0.85
4  E  0.51  0.43  0.87

## 2.1 set_index
* 새로운 인덱스로 셋팅한다

In [84]:
df2 = df1.set_index("C1")
df2

      C2    C3    C4
C1
A   0.28  0.79  0.01
B   0.19  0.99  0.03
C   0.63  0.01   0.5
D   0.34   0.3  0.85
E   0.51  0.43  0.87

In [85]:
df2.loc['A']

C2    0.28
C3    0.79
C4    0.01
Name: A, dtype: object

## 2.2 reset_index
* 인덱스를 원복시킨다

In [86]:
df2.reset_index()

  C1    C2    C3    C4
0  A  0.28  0.79  0.01
1  B  0.19  0.99  0.03
2  C  0.63  0.01   0.5
3  D  0.34   0.3  0.85
4  E  0.51  0.43  0.87

## 2.3 다중 인덱스

In [87]:
data = np.round(np.random.randn(5, 4), 2)
df = pd.DataFrame(data,columns=[["A", "A", "B", "B"],["C1", "C2", "C1", "C2"]])
df

      A           B
     C1    C2    C1    C2
0  0.39  0.08  0.08  0.74
1  0.73  0.66  0.53 -0.47
2  0.23 -0.36  0.41 -0.45
3 -0.81 -2.77 -0.17  1.66
4 -0.76 -0.33  0.54  1.12

In [95]:
import numpy as np
import pandas as pd
data = np.round(np.random.randn(5, 4), 2)
df = pd.DataFrame(data,columns=[["남", "남", "여", "여"],["C1", "C2", "C1", "C2"]])
df

      남           여
     C1    C2    C1    C2
0  0.42 -1.25 -0.05 -0.40
1 -0.06 -0.35 -1.41  1.65
2 -0.78  1.12 -0.63 -0.63
3  1.34  0.57  0.72  0.41
4 -1.90 -0.02  1.23  0.93

In [96]:
df.loc[:,('남','C2')]

0   -1.25
1   -0.35
2    1.12
3    0.57
4   -0.02
Name: (남, C2), dtype: float64

In [97]:
df.stack().unstack() # 스택

      남           여
     C1    C2    C1    C2
0  0.42 -1.25 -0.05 -0.40
1 -0.06 -0.35 -1.41  1.65
2 -0.78  1.12 -0.63 -0.63
3  1.34  0.57  0.72  0.41
4 -1.90 -0.02  1.23  0.93

# 3. Merge
* sql의 join과 같은 역할을 수행한다.

In [211]:
df1 = pd.DataFrame({
    '고객번호': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    '이름': ['둘리', '도우너', '또치', '길동', '희동', '마이콜', '영희']
}, columns=['고객번호', '이름'])
df1

   고객번호   이름
0  1001   둘리
1  1002  도우너
2  1003   또치
3  1004   길동
4  1005   희동
5  1006  마이콜
6  1007   영희

In [212]:
df2 = pd.DataFrame({
    '고객번호': [1001, 1001, 1005, 1006, 1008, 1001],
    '금액': [10000, 20000, 15000, 5000, 100000, 30000]
}, columns=['고객번호', '금액'])
df2

   고객번호      금액
0  1001   10000
1  1001   20000
2  1005   15000
3  1006    5000
4  1008  100000
5  1001   30000

## 3.1 Inner join

In [213]:
pd.merge(df1, df2, left_on="고객번호", right_on="고객번호", how="inner")

   고객번호   이름     금액
0  1001   둘리  10000
1  1001   둘리  20000
2  1001   둘리  30000
3  1005   희동  15000
4  1006  마이콜   5000

## 3.2 outer join

In [214]:
res = pd.merge(df1, df2, left_on="고객번호", right_on="고객번호", how="outer")
res

   고객번호   이름        금액
0  1001   둘리   10000.0
1  1001   둘리   20000.0
2  1001   둘리   30000.0
3  1002  도우너       NaN
4  1003   또치       NaN
5  1004   길동       NaN
6  1005   희동   15000.0
7  1006  마이콜    5000.0
8  1007   영희       NaN
9  1008  NaN  100000.0

In [215]:
# 과제 : 금액에서 Nan 이라고 나온 부분을 0으로 채워보세요.
res['금액'] = res['금액'].fillna(0)
res

   고객번호   이름        금액
0  1001   둘리   10000.0
1  1001   둘리   20000.0
2  1001   둘리   30000.0
3  1002  도우너       0.0
4  1003   또치       0.0
5  1004   길동       0.0
6  1005   희동   15000.0
7  1006  마이콜    5000.0
8  1007   영희       0.0
9  1008  NaN  100000.0

## 3.3 left join

In [216]:
pd.merge(df1, df2, left_on="고객번호", right_on="고객번호", how="left")

   고객번호   이름       금액
0  1001   둘리  10000.0
1  1001   둘리  20000.0
2  1001   둘리  30000.0
3  1002  도우너      NaN
4  1003   또치      NaN
5  1004   길동      NaN
6  1005   희동  15000.0
7  1006  마이콜   5000.0
8  1007   영희      NaN

## 3.4 right join

In [217]:
pd.merge(df1, df2, left_on="고객번호", right_on="고객번호", how="right")

   고객번호   이름      금액
0  1001   둘리   10000
1  1001   둘리   20000
2  1005   희동   15000
3  1006  마이콜    5000
4  1008  NaN  100000
5  1001   둘리   30000

## 4. Groupby

In [218]:
res['이름'] = res['이름'].fillna('NaN')
res

   고객번호   이름        금액
0  1001   둘리   10000.0
1  1001   둘리   20000.0
2  1001   둘리   30000.0
3  1002  도우너       0.0
4  1003   또치       0.0
5  1004   길동       0.0
6  1005   희동   15000.0
7  1006  마이콜    5000.0
8  1007   영희       0.0
9  1008  NaN  100000.0

In [220]:
# 이름을 기준으로 금액의 합계를 groupby에 의해서 구해보세요
# res1 = res.copy()
# res1['group'] = res1.groupby(res1['이름'])
# res1
groups = res.groupby('이름')
res1 = groups.sum()

In [223]:
res['고객번호'] = res['고객번호'].astype('str')
res['금액'] = res['금액'].astype('int')
res['이름']=res['이름'].fillna('무명')
groups = res.groupby(["이름", "고객번호"])
res1 = groups.sum()
res1 = res1[res1['금액']>0]
res1 = res1.reset_index()
res1

    이름  고객번호      금액
0  NaN  1008  100000
1   둘리  1001   60000
2  마이콜  1006    5000
3   희동  1005   15000

## 4.1 단일Key groupby

In [186]:
np.random.seed(0)
df2 = pd.DataFrame({
    'key1': ['A', 'A', 'B', 'B', 'A'],
    'key2': ['one', 'two', 'one', 'two', 'one'],
    'data1': [1, 2, 3, 4, 5],
    'data2': [10, 20, 30, 40, 50]
})
df2

  key1 key2  data1  data2
0    A  one      1     10
1    A  two      2     20
2    B  one      3     30
3    B  two      4     40
4    A  one      5     50

In [187]:
# 그룹 객체 만들기
groups = df2.groupby(df2.key1)
groups

In [188]:
# 그룹 속성 확인
groups.groups

{'A': [0, 1, 4], 'B': [2, 3]}

In [189]:
# 그룹별 집계 구하기
groups.sum()

<ipython-input-189-38e19851bae6>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groups.sum()

      data1  data2
key1
A         8     80
B         7     70

In [190]:
#파이프라인
df2.groupby(df2.key1).sum()

<ipython-input-190-f11ce810cfa8>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2.groupby(df2.key1).sum()

      data1  data2
key1
A         8     80
B         7     70

In [191]:
#key1에 대해서 grouping 하고 data1을 집계
df2.groupby(df2.key1)['data1'].sum()

key1
A    8
B    7
Name: data1, dtype: int64

In [192]:
#key1에 대해서 grouping 하고 모두 집계한다음 그중에서 data1 컬럼만 추출
df2.groupby(df2.key1).sum()['data1'] # 추천하지 않는 방법

<ipython-input-192-5368631e1490>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2.groupby(df2.key1).sum()['data1'] # 추천하지 않는 방법

key1
A    8
B    7
Name: data1, dtype: int64

## 4.2 MultiKey groupyby

In [195]:
#muti-key groupby
s = df2.data1.groupby([df2.key1, df2.key2]).sum() #Type : Series
s.unstack('key1')

key1  A  B
key2
one   6  3
two   2  4

In [196]:
# 피봇테이블 만들기
df2.data1.groupby([df2["key1"], df2["key2"]]).sum().unstack("key1")

key1  A  B
key2
one   6  3
two   2  4

In [225]:
data = {
    "도시": ["서울", "서울", "서울", "부산", "부산", "부산", "인천", "인천"],
    "연도": ["2015", "2010", "2005", "2015", "2010", "2005", "2015", "2010"],
    "인구": [9904312, 9631482, 9762546, 3448737, 3393191, 3512547, 2890451, 263203],
    "지역": ["수도권", "수도권", "수도권", "경상권", "경상권", "경상권", "수도권", "수도권"]
}
columns = ["도시", "연도", "인구", "지역"]
df1 = pd.DataFrame(data, columns=columns)
df1

   도시    연도       인구   지역
0  서울  2015  9904312  수도권
1  서울  2010  9631482  수도권
2  서울  2005  9762546  수도권
3  부산  2015  3448737  경상권
4  부산  2010  3393191  경상권
5  부산  2005  3512547  경상권
6  인천  2015  2890451  수도권
7  인천  2010   263203  수도권

In [256]:
# 과제 3. 아래와 같이 인구의 지역별 연도별 합계를 구하시오
group = df1.groupby(["지역", "연도"]).sum().unstack(["연도"]).reset_index()
group

<ipython-input-256-209eb377aab2>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group = df1.groupby(["지역", "연도"]).sum().unstack(["연도"]).reset_index()

     지역       인구
연도          2005     2010      2015
0   경상권  3512547  3393191   3448737
1   수도권  9762546  9894685  12794763

# 5. 시계열
* native Python module (https://rfriend.tistory.com/496)
    * date: 년, 월, 일
    * time: 시, 분, 초, 마이크로초
    * datetime: 년, 월, 일, 시, 분, 초, 마이크로초
    * timedelta: 일, 초, 마이크로초
* pandas module
    * Timestamp

## 5.1 date

In [234]:
from datetime import date
mydate=date(2019,12,1)
mydate

datetime.date(2019, 12, 1)

In [235]:
mydate.year, mydate.month, mydate.day

(2019, 12, 1)

##  5.2 time

In [236]:
from datetime import time
mytime = time(20,46,22,446571)
mytime

datetime.time(20, 46, 22, 446571)

In [237]:
mytime.hour, mytime.minute, mytime.second, mytime.microsecond

(20, 46, 22, 446571)

## 5.3 datetime

In [238]:
# datetime 객체를 생성하는 방법
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2023, 5, 23, 8, 5, 42, 647803)

In [239]:
now.year

2023

In [240]:
now, now.year, now.month, now.day, now.hour, now.minute

(datetime.datetime(2023, 5, 23, 8, 5, 42, 647803), 2023, 5, 23, 8, 5)

## 5.4 timedelta

In [241]:
# datetime 객체의 시간 차이를 구하는 방법
delta = datetime(2011,1,7) - datetime(2008,6,24,9,10)
delta

datetime.timedelta(days=926, seconds=53400)

In [242]:
delta, delta.days, delta.seconds

(datetime.timedelta(days=926, seconds=53400), 926, 53400)

In [243]:
# datetime 객체에 timedelta를 더하는 방법
from datetime import timedelta
start = datetime(2011,1,7)
display(start)
display(start + timedelta(12))
display(start + timedelta(10,1,1)) #10일 1초 1마이크로초
display(start -2 *timedelta(12))

datetime.datetime(2011, 1, 7, 0, 0)

datetime.datetime(2011, 1, 19, 0, 0)

datetime.datetime(2011, 1, 17, 0, 0, 1, 1)

datetime.datetime(2010, 12, 14, 0, 0)

## 5.5 timestamp 

* POSIX(portable operating system interface) timestamp
* unix timestamp (unix에서 시간을 정하는 규칙)
* unix time의 기준시간(1970.1.1, UTC) 에서 몇초가 흘렀는지 계산한다. 
* 32bit 시스템에서는 2038년에 문제가 발생하게 된다

In [244]:
from datetime import datetime
import time

datetime.today().timetuple()

time.struct_time(tm_year=2023, tm_mon=5, tm_mday=23, tm_hour=8, tm_min=6, tm_sec=2, tm_wday=1, tm_yday=143, tm_isdst=-1)

In [245]:
timestamp = time.mktime(datetime.today().timetuple())
timestamp

1684829164.0

In [246]:
## timestamp 활용
from datetime import datetime
import time

since_timestamp = time.mktime(datetime.strptime('20180301', '%Y%m%d').timetuple())
until_timestamp = time.mktime(datetime.strptime('20180331', '%Y%m%d').timetuple())

days = ((datetime.fromtimestamp(until_timestamp) - datetime.fromtimestamp(since_timestamp)).days)
days

30

## 5.6 pandas Timestamp

In [247]:
start

datetime.datetime(2011, 1, 7, 0, 0)

In [ ]:
#Timestamp  만들기
import pandas as pd
stamp = pd.Timestamp(start)
stamp

Timestamp('2011-01-07 00:00:00')

In [ ]:
type(stamp)

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
#Timstamp 만들기 직접
stamp2=pd.Timestamp(2019, 12, 22, 13, 30, 59)

In [ ]:
stamp2.dayofyear

356

In [ ]:
stamp.year, stamp.month, stamp.day, stamp.hour, stamp.minute, stamp.second, stamp.microsecond, stamp.nanosecond

(2011, 1, 7, 0, 0, 0, 0, 0)

In [ ]:
# 추가 정보 확인
stamp.dayofweek, stamp.dayofyear, stamp.days_in_month, stamp.quarter, stamp.week

(4, 7, 31, 1, 1)

In [ ]:
# date 추출
stamp.date()

datetime.date(2011, 1, 7)

In [ ]:
# time 추출
stamp.time()

datetime.time(0, 0)

In [ ]:
# datetiem 정보
stamp.combine(stamp.date(), stamp.time())

Timestamp('2011-01-07 00:00:00')

In [ ]:
#POSIX timestamp
stamp.timestamp()

1294358400.0

# 6. 시계열 활용

## 6.1 문자열을 시계열로 변환

In [ ]:
#pandas는 배열로 된 많은 종류의 날짜 포맷을 쉽게 변환한다.
import pandas as pd
dateres = ['7/6/2011', '8/6/2011', None]
dateres

['7/6/2011', '8/6/2011', None]

In [ ]:
pd.to_datetime(dateres)

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

## 6.2 시계열 인덱스

In [ ]:
# 시계열 인덱스 만들기
#이제부터 시계열로 검색이 가능하다.
from datetime import datetime
import pandas as pd
import numpy as np

dates =[datetime(2011,1,2), datetime(2011,1,5), datetime(2011,1,7), datetime(2011,1,8) , datetime(2011,1,10), datetime(2011,1,12),
       datetime(2011,5,2), datetime(2011,5,5), datetime(2011,5,7), datetime(2011,5,8) , datetime(2011,5,10), datetime(2011,5,12),
       datetime(2021,1,2), datetime(2021,1,5), datetime(2021,1,7), datetime(2021,1,8) , datetime(2021,1,10), datetime(2021,1,12)]
len(dates)

18

In [ ]:
ts = pd.Series(data=np.random.randn(len(dates)), index=dates)
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12', '2011-05-02', '2011-05-05',
               '2011-05-07', '2011-05-08', '2011-05-10', '2011-05-12',
               '2021-01-02', '2021-01-05', '2021-01-07', '2021-01-08',
               '2021-01-10', '2021-01-12'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
ts.values

array([ 0.5918236 , -0.38132417, -1.67670001,  0.84007832,  1.50809147,
       -0.796061  ,  0.6347377 ,  0.77087263, -0.18620872, -1.55220332,
       -0.66930945,  1.29993279,  0.06914738,  0.51105098,  0.8380569 ,
       -0.28186655,  0.46608502, -0.15720731])

In [ ]:
ts.index[2] # 2번째 값을 가져오거나

Timestamp('2011-01-07 00:00:00')

In [ ]:
ts[ts.index[2]] #시계열로도 가져올 수 있고,

-1.6767000082321464

In [ ]:
ts['1/07/2011'] #문자열로도 가져올 수 있고

-1.6767000082321464

In [ ]:
ts['2011/01/07'] # 문자열 포맷이 변경되어도 가져올 수 있고

-1.6767000082321464

In [ ]:
ts[datetime(2011,1,7)] #표준형식으로도 가져올 수 있다.

-1.6767000082321464

In [ ]:
ts['2011-5'] #2011년 1월만 가져올수도 있고,

2011-05-02    0.634738
2011-05-05    0.770873
2011-05-07   -0.186209
2011-05-08   -1.552203
2011-05-10   -0.669309
2011-05-12    1.299933
dtype: float64

In [ ]:
#5월 이후 데이터도 가져올 수 있다.
ts['2011-5':'2011-8']

2011-05-02    0.634738
2011-05-05    0.770873
2011-05-07   -0.186209
2011-05-08   -1.552203
2011-05-10   -0.669309
2011-05-12    1.299933
dtype: float64

In [ ]:
#날짜로 데이터 자르기
ts[datetime(2011,1,8):datetime(2011,1,10)]

2011-01-08    0.840078
2011-01-10    1.508091
dtype: float64

## 6.3 리샘플링
* 데이터를 주어진 시간 기준(월,일,시등)으로 다시 뽑고자 할때 사용한다.
* 누락된 경우 뽑아야 하는 경우 : NaN
* 여러개인 경우 한개를 선택해야 되는 경우: first, last
* 시간단위 구간
    - 5분 단위 구간    : resample('5T')
    - 10분 단위 구간  : resample('10T')
    - 20분 단위 구간 : resample('20T')
    - 1시간 단위 구간 : resample('1H')
    - 1일 단위 구간    : resample('1D')
    - 1주일 단위 구각 : resample('1W')
    - 1달 단위 구간    : resample('1M')
    - 1년 단위 구간    : resample('1Y')

In [ ]:
dates =[datetime(2022,1,1,1,2),
       datetime(2022,1,1,1,4),
       datetime(2022,1,1,1,6),
       datetime(2022,1,1,1,8),
       datetime(2022,1,1,1,10),
       datetime(2022,1,1,1,20),
       datetime(2022,1,1,1,30),
       datetime(2022,1,1,1,50),
       datetime(2022,1,1,1,59),]
ts = pd.Series(np.random.randn(len(dates)), index=dates)
ts

2022-01-01 01:02:00   -0.192031
2022-01-01 01:04:00   -1.061812
2022-01-01 01:06:00   -1.628079
2022-01-01 01:08:00    2.539796
2022-01-01 01:10:00   -1.494356
2022-01-01 01:20:00    0.059321
2022-01-01 01:30:00    0.190118
2022-01-01 01:50:00    1.387981
2022-01-01 01:59:00    0.668639
dtype: float64

In [ ]:
#10분 간격으로 추출하기
ts.resample('5T').first()

2022-01-01 01:00:00   -0.192031
2022-01-01 01:05:00   -1.628079
2022-01-01 01:10:00   -1.494356
2022-01-01 01:15:00         NaN
2022-01-01 01:20:00    0.059321
2022-01-01 01:25:00         NaN
2022-01-01 01:30:00    0.190118
2022-01-01 01:35:00         NaN
2022-01-01 01:40:00         NaN
2022-01-01 01:45:00         NaN
2022-01-01 01:50:00    1.387981
2022-01-01 01:55:00    0.668639
Freq: 5T, dtype: float64

In [ ]:
# Day 기준으로 리샘플링
ts.resample('D').first()

2022-01-01   -0.192031
Freq: D, dtype: float64

## 6.3.1 다운샘플링
* 데이터의 양을 줄이는 샘플링
* Aggregation, OHLC, GroupBy
* 양끝을 어떻게 처리할지 결정해야 됨

In [ ]:
index_val = pd.date_range('1/1/2000', periods=100, freq='T')
ts = pd.Series(np.arange(len(index_val)), index = index_val)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
                       ..
2000-01-01 01:35:00    95
2000-01-01 01:36:00    96
2000-01-01 01:37:00    97
2000-01-01 01:38:00    98
2000-01-01 01:39:00    99
Freq: T, Length: 100, dtype: int64

In [ ]:
ts.resample('5min').mean()

2000-01-01 00:00:00     2.0
2000-01-01 00:05:00     7.0
2000-01-01 00:10:00    12.0
2000-01-01 00:15:00    17.0
2000-01-01 00:20:00    22.0
2000-01-01 00:25:00    27.0
2000-01-01 00:30:00    32.0
2000-01-01 00:35:00    37.0
2000-01-01 00:40:00    42.0
2000-01-01 00:45:00    47.0
2000-01-01 00:50:00    52.0
2000-01-01 00:55:00    57.0
2000-01-01 01:00:00    62.0
2000-01-01 01:05:00    67.0
2000-01-01 01:10:00    72.0
2000-01-01 01:15:00    77.0
2000-01-01 01:20:00    82.0
2000-01-01 01:25:00    87.0
2000-01-01 01:30:00    92.0
2000-01-01 01:35:00    97.0
Freq: 5T, dtype: float64

## 6.3.2 업샘플링 + 보간법
* 데이터를 보간한다
* 양을 늘리는 샘플링

In [ ]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(2,4),
                    index = pd.date_range('1/1/2000', periods=2,freq='W-WED'),
                    columns=['Colorado','Texas','New York','Ohio'])
frame

            Colorado     Texas  New York      Ohio
2000-01-05   0.35638 -0.274058 -0.565181  0.446811
2000-01-12   1.11031 -0.101030 -0.678705 -0.231164

In [ ]:
#상위빈도로 리샘플링
df_daily = frame.resample('D').asfreq() # convert time series to specified frequency
df_daily

            Colorado     Texas  New York      Ohio
2000-01-05   0.35638 -0.274058 -0.565181  0.446811
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12   1.11031 -0.101030 -0.678705 -0.231164

In [ ]:
#보간 매써드 사용하기
frame.resample('D').ffill()

            Colorado     Texas  New York      Ohio
2000-01-05   0.35638 -0.274058 -0.565181  0.446811
2000-01-06   0.35638 -0.274058 -0.565181  0.446811
2000-01-07   0.35638 -0.274058 -0.565181  0.446811
2000-01-08   0.35638 -0.274058 -0.565181  0.446811
2000-01-09   0.35638 -0.274058 -0.565181  0.446811
2000-01-10   0.35638 -0.274058 -0.565181  0.446811
2000-01-11   0.35638 -0.274058 -0.565181  0.446811
2000-01-12   1.11031 -0.101030 -0.678705 -0.231164

In [ ]:
frame.resample('D').ffill(limit=2)

            Colorado     Texas  New York      Ohio
2000-01-05 -0.403177  1.222445  0.208275  0.976639
2000-01-06 -0.403177  1.222445  0.208275  0.976639
2000-01-07 -0.403177  1.222445  0.208275  0.976639
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  0.356366  0.706573  0.010500  1.785870